h1 {
    color:  red;
    animation : animationtitre 2s;
}

h1:hover {
    transition-duration: 1s;
    color: green;
    transition-timing-function: linear;
}

p:active {
    transition: 2s;
    transform: rotate(10turn);
    transition-timing-function: ease-in-out;
}

@keyframes animationtitre {
    0% {
        transform : translateX(-150px);
    } 50% {
        transform : translateX(-75px);
    } 100% {
        transform : translateX(0px);
    }              
}

@keyframes animationp {
    0% {
        width: 150px;
    } 50% {
        width: 500px;
    } 100% {
        width: 800px;
    }              
}

p {
    animation : animationp 2s;
}

@keyframes bouton1 {
    0% {
        transform: rotate(0deg);
    } 50% {
        transform: rotate(10deg);
    } 100% {
        transform: rotate(-10deg);
    }              
}

#bouton1:hover {
    animation : bouton1 0.2s infinite alternate;
}

@keyframes bouton2 {
    0% {
        transform: translateY(0px);
    } 50% {
        transform: translateY(-5px);
    } 100% {
        transform: translateY(-10px);
    }              
}

#bouton2:hover {
    animation : bouton2 0.2s infinite alternate;
}

@keyframes bouton3 {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.3);
    }            
}

#bouton3:hover {
    animation : bouton3 0.5s infinite alternate;
}