table {
    text-align: center;
    border-collapse: collapse;
    border: black, 5px;
}

caption {
    text-align: center;
    color: violet;
    font-weight: bold;
}

th {
    text-align: center;
    border-style: solid;
    border-color: purple;
    border-width: 5px;
    background-color: red;
}

td {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: green;
}